body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.article-first-block {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: var(--color-background);
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
  
    .article-first-block-text {
      position: relative;
      flex: 2;
  
      h1 {
        font-weight: bold;
        font-size: 5vw;
        color: white;
      }
    }
  
    .navigation-to-second-block {
      display: flex;
      bottom: 3vh;
      height: fit-content;
      position: absolute;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
  
      .text-in-nav {
        color: white;
        font-size: 1.5vw;
      }
  
      .next-button {
        border: 1px solid white;
        width: fit-content;
        text-decoration: none;
        color: white;
        padding: 5px;
        border-radius: 10px;
  
        .arrow {
          font-size: large;
        }
      }
  
      .next-button:hover {
        background-color: #FA944B;
        color: #0a0908;
        border-color: #0a0908;
      }
    }
  }
  
  @media screen and (max-width: 800px) {
    .article-first-block {
    
      .article-first-block-text {
    
        h1 {
          font-size: 12vw;
        }
      }
    
      .navigation-to-second-block {
        bottom: 6vh;
    
        .text-in-nav {
          font-size: 4vw;
        }
    
        .next-button {
          .arrow {
            font-size: large;
          }
        }
    
        .next-button:hover {
          background-color: #FA944B;
          color: #0a0908;
          border-color: #0a0908;
        }
      }
    }
  }
  
  
  /* Общие стили для фотогалереи */
  .article-gallery {
      height: fit-content;
      background-color: #f2f4f3;
      padding: 5vh 5vw; /* Поля вокруг галереи */
      max-height: 200vh;
      height: fit-content;

      .article-gallery-title {
        text-align: center;

        h1 {
          font-weight: bold;
        }
      }

      .article-gallery-items {
        display: flex;
        flex-wrap: wrap; /* Позволяет изображениям переноситься на новую строку при нехватке места */
        justify-content: space-around; /* Равномерное распределение изображений по ширине галереи */
        align-items: center; /* Центрирование изображений по вертикали */
        height: 90%;
        max-height: 95%;
        overflow-y: scroll;

        .article-gallery-item-elements {
          flex: 0 0 300px; /* Изменение ширины элементов в зависимости от размеров экрана */
            margin: 2vh 2vw 2vh 2vw; /* Пространство между изображениями */
            max-height: 50vh; /* Максимальная высота изображения */
            height: 50%;

            .article-fon {
              display: flex;
              justify-content: center;
              height: 30vh;
              width: 100%;
              margin-bottom: 1vh;

              #icon-pdf {
                height: 100%;
                width: auto;
                cursor: pointer;
              }
            }

            .article-info {
              display: flex;
              width: 100%;
              height: fit-content;

              .article-info-name {
                flex: 1;

                #article-name {
                  float: left;
                  font-weight: bold;
                  line-height: normal;
                  font-size: 15px;
                }

                #article-date {
                  float: right;
                  font-style: italic;
                  font-size: 15px;
                }
              }
            }


           
            .photo-gallery-item {
              flex: 0 0 250px; /* Изменение ширины элементов в зависимости от размеров экрана */
              border: 1px solid black;
              max-height: 30vh; /* Максимальная высота изображения */
              overflow: hidden; /* Обрезание изображения, если оно выходит за границы контейнера */
              height: 100%;
              border-radius: 5%;  

              img {
                width: 100%; /* Изображение будет занимать всю доступную ширину контейнера */
               height: 100%; /* Автоматически рассчитанная высота, чтобы сохранить пропорции */
                object-fit: cover; /* Изображение будет заполнено внутри своего контейнера */
                object-position: 50% 50%; /* Центрирование изображения в контейнере */
            }
          }

          .photo-title {
            font-weight: bold;
            font-size: 20px;
          }
          
          .photo-date {
            font-style: italic;
            font-size: 15px;
            float: right;
          }
        }
    }

    .photo-gallery-items::-webkit-scrollbar {
      background-color: #f2f4f3;
      border: 1px solid black;
      border-radius: 3px;
      width: 6px;
    }
    
    .photo-gallery-items::-webkit-scrollbar-thumb {
      background-color: #0a0908;
      border-radius: 3px;
    }
  }


.first-block-text-with-image {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.image-container {
  flex: 1;

}
.image-people {
  width: auto; /* Автоматическая ширина для сохранения пропорций */
  height: 60vh; /* Высота изображения относительно высоты окна просмотра */
  background-image: url('photos/people.png');
  background-size: contain; /* Сохраняет пропорции изображения */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Не повторяет изображение */
  margin: 10px; /* Отступы вокруг изображения */
}

