/*footer style*/

@font-face {
    font-family: 'Montserrat-Light';
    src: url('slick/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratBold';
    src: url('slick/fonts/MontserratBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

footer {
    background: var(--color-background);
    color: #f2f4f3;
    border-top: 2px solid white;
  }
  
  footer a {
    color: #f2f4f3;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  h4.title{
    font-family: "Bookman Old Style",sans-serif;
  }
  h4.title.name {
    white-space: nowrap;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  .row{
    justify-content: space-around;
  }
  .footer-middle {
    padding-top: 2em;
    color: #f2f4f3;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }

  ul.social-network li {
    display: inline-flex;
    align-items: center;
    margin: 0 5px;
  }
  

  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background: #00c6ff;
    background: linear-gradient(
      to right,
      #00c6ff,#0072ff
    );
  }
  
  .social-network a.icoInstagram:hover {
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
  }
  
  .social-network a.icoTelegram:hover {
    background: #1c92d2;
    background: linear-gradient(
      to right,
      #1c92d2,#7ce9ff
    );
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoInstagram:hover i,
  .social-network a.icoTelegram:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44BCDD;
  }

  .social-circle li a {
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
.social-network li span {
    font-size: 14px;
    color: #f2f4f3;
    margin: 10px;
    font-family: "Montserrat-Light", sans-serif;
}
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  .img {
    background-image: url('photos/oui.png');
    background-repeat: repeat-x;
    background-size: 60px 30px;
    height: 30px;
    padding: 0;
    margin: 15px;
}

  .lilist{
    margin: 10px;
    font-size: 14px;
  }