body {
  margin: 0;
  padding: 0;
  background-image: var(--color-background);
}

body.modal-open {
  overflow: hidden;
}

.main-sector-7dn {
  background-color: var(--color-background);
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex: 2;
}

.text-container {
  padding-left: 20px;
}

.first-block-text-with-image {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.image-container {
  flex: 1;

}
.image-people {
  width: auto;
  height: 60vh;
  background-image: url('photos/people.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
}

  .item--MgY {
    color: var(--color-text);
    font-family: Montserrat, serif;
    font-size: 2.8vw;
    font-weight: 700;
    height: fit-content;
    line-height: 1.2125;
    position: relative;
    width: 80%;
    top: 30%; 
    margin-top: auto; margin-bottom: auto;
    text-align: left !important;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .main-sector-7dn {
      height: 70vh;

      .container {
        padding: 0;
    }

    .text-container {
      padding-left: 0;
    }

    .image-people {
      height: 40vh;
    }

      .item--MgY {
        font-size: 3vw;
      }
    }
  }

  @media screen and (max-width: 700px) {
    .main-sector-7dn {
      height: 70vh;

      .container {
        padding: 0;
    }

    .text-container {
      padding-left: 0;
    }

    .image-people {
      height: 40vh;
    }

      .item--MgY {
        font-size: 3.5vw;
      }
    }
  }
  
  
/*welcome sector style*/
.welcome-sector-s6c {
  background-color: var(--color-sm);
  box-sizing: border-box;
  height: fit-content;
  overflow: hidden;
  position: relative;
  width: 100%;

  .group-20-djz {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .auto-group-fgqu-Grp {
      align-items: flex-end;
      border-radius: 1rem;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: fit-content;
      padding: 5vh 2vw 5vh 2vw;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;

      .auto-group-yw5w-Zb2 {
        flex: 1;
        height: 100%;
        width: fit-content;

        img {
          height: 50px;
        }

        .item--5JU {
          flex-shrink: 0;
          font-size: 2vw;
          font-weight: 900;
          line-height: 1.2125;
          white-space: nowrap;
        }

        .item--5JU a {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-decoration: none;
          font-size: 24px;
          font-weight: bold;
          transition: all ease-in-out 0.3s;
          color: var(--color-share);
        }

        .item--5JU a:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .welcome-sector-s6c {
    .group-20-djz {
      .auto-group-fgqu-Grp {
        padding: 5vh 2vw 5vh 2vw;

        .auto-group-yw5w-Zb2 {
          img {
            height: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .welcome-sector-s6c {
    .group-20-djz {
      flex-direction: row;

      .auto-group-fgqu-Grp {
        display: flex;
        height: fit-content;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px;

        .auto-group-yw5w-Zb2 {
          margin: 10px;

          img {
            height: 30px;
          }

          .item--5JU a {
            flex-direction: row;
            font-size: 18px;
          }

          .item--5JU a:hover {
            transform: scale(1.05);
          }
        }
      }
    }
    }
}


/*News style*/
.news-section {
  background: var(--color-background);
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 5vh 4vw 5vh 4vw;
  background-size: cover;
  background-repeat: no-repeat;

  .news-section-title {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;

    #news-section-title {
      color: #0a0908;
      text-decoration: none;
      font-family: var(--font-family);
      font-size: 3.5vw;
      font-weight: 900;
      left: 0;
      line-height: 1.2125;
      top: 0;
      white-space: nowrap;
      margin-bottom: 1vh;
    }
  }

  .news-section-content {
    width: 100%;
    height: 70vh;
    display: flex;
    margin-top: 50px;

    .news-section-content-second {
      display: flex;

      .news-section-content-title {
        position: relative;
        width: 100%;
        flex: 1;
        height: 100%;
        display: flex;
        padding: 10px 20px 10px 10px;
        flex-direction: column;

        #content-title-name {
          color: black;
          font-size: large;
          font-family: var(--font-family);
          margin-bottom: 1vh;
          font-weight: bold;
        }

        #content-title-description {
          color: black;
          font-size: medium;
          font-family: var(--font-family);
        }
      }

      .news-section-content-image {
          flex: 2;
          width: 40vw;
          height: 40vh;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;

        .news-image-parent-div {
          border-radius: 20px;

          #content-image {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: 50% 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .news-section {
    height: fit-content;

    .news-section-title {
      #news-section-title {
        color: var(--color-share);
        font-size: 4.5vw;
      }
    }

    .news-section-content {
      height: fit-content;
      margin-top: 0;

      .news-section-content-second {
        display: flex;
        flex-direction: column;

        .news-section-content-title {
          flex-direction: column;

          #content-title-name {
            font-size: large;
            font-family: var(--font-family);
            margin-bottom: 10px;
            font-weight: bold;
          }

          #content-title-description {
            height: fit-content;
            width: 100%;
            color: black;
            font-size: medium;
            font-family: var(--font-family);
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .news-section-content-image {
            width: 100%;
            height: 20vh;
            overflow: hidden;

          .news-image-parent-div {
            width: 100%;
            height: 40vh;
            overflow: hidden;
            border-radius: 10px;

            #content-image {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: 50% 50%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .news-section {
    height: fit-content;

    .news-section-title {
      #news-section-title {
        color: var(--color-share);
        font-size: 4.5vw;
      }
    }

    .news-section-content {
      height: fit-content;
      margin-top: 0;

      .news-section-content-second {
        display: flex;
        flex-direction: column;

        .news-section-content-title {
          flex-direction: column;

          #content-title-name {
            font-size: large;
            font-family: var(--font-family);
            margin-bottom: 10px;
            font-weight: bold;
          }

          #content-title-description {
            height: 20vh;
            width: 100%;
            color: black;
            font-size: medium;
            font-family: var(--font-family);
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .news-section-content-image {
            width: 100%;
            height: 20vh;
            overflow: hidden;

          .news-image-parent-div {
            width: 100%;
            height: 40vh;
            overflow: hidden;
            border-radius: 10px;

            #content-image {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: 50% 50%;
            }
          }
        }
      }
    }
  }
}
  
  
  /*Photo-suret style*/
.photo-E4h {
  background: var(--color-background);
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 5vh 5vw 5vh 5vw;
  position: relative;
  width: 100%;
  height: 100vh;

  .photo-fon {
    width: 100%;
    height: 100%;
    border-radius: 0 200px;
    background: var(--color-play);
  }

  .auto-group-i1rc-MMb {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 100%;
  }

  .photo-slide {
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .photo-slide div {
    border-radius: 10px;
  }
  
  .photo-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
  }

  .slick-dots li button:before {
    color: var(--color-text) !important;
    font-size: 12px;
  }
}

@media (max-aspect-ratio: 1/1) {
  .photo-E4h {
    padding: 2vh 2vw 2vh 2vw;
    height: fit-content;

    .photo-fon {
      border-radius: 0 150px;
    }

    .auto-group-i1rc-MMb {
    }

    .photo-slide {
      width: 80%;
      height: fit-content;
    }

    .photo-slide div {
      border-radius: 10px;
      width: 100%;
      height: 60vh;
      overflow: hidden;
    }

    .photo-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .slick-dots li button:before {
      color: var(--color-text) !important;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .photo-E4h {
    padding: 2vh 2vw 2vh 2vw;
    height: fit-content;

    .photo-fon {
      border-radius: 0 150px;
    }

    .auto-group-i1rc-MMb {
    }

    .photo-slide {
      width: 80%;
      height: fit-content;
    }

    .photo-slide div {
      border-radius: 10px;
      width: 100%;
      height: 60vh;
      overflow: hidden;
    }

    .photo-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .slick-dots li button:before {
      color: var(--color-text) !important;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 700px) {
  .photo-E4h {
    padding: 1vh 1vw 1vh 1vw;
    height: fit-content;

    .photo-fon {
      border-radius: 0 100px;
    }

    .auto-group-i1rc-MMb {
    }

    .photo-slide {
      width: 80%;
      height: fit-content;
    }

    .photo-slide div {
      border-radius: 10px;
      width: 100%;
      height: 50vh;
      overflow: hidden;
    }

    .photo-slide img {
      width: 100%;
      height: 90%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .slick-dots li {
      margin: 0;
    }

    .slick-dots li button:before {
      color: var(--color-text) !important;
      font-size: 9px;
    }
  }
}

/*Suhbat style*/
.suhbat-Zvq {
  background-color: var(--color-text);
  height: fit-content;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 5vh 2vw 5vh 5vw !important;

  .auto-group-7tcc-nob {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    height: fit-content;
    position: static;
    top: 0.5vh;
    width: 100%;
    flex-wrap: wrap;

    .auto-group-4sal-buT {
      flex: 1;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      width: 100%;
      border-right: 2px solid var(--color-share);
      padding-right: 1vw;

      .item--XHK {
        color: var(--color-share);
        flex-shrink: 0;
        font-family: var(--font-family);
        font-size: 2vw;
        font-weight: 700;
        line-height: 1.2125;
        margin: 0 0 2vh 0;
        text-align: right;
        white-space: nowrap;
      }

      .auto-group-knx6-Kys {
        align-items: flex-start;
        display: flex;
        flex-shrink: 0;
        height: fit-content;
        margin-bottom: 3vh;
        width: 100%;

        .group-3-Eb3 {
          border-radius: 1rem;
          box-sizing: border-box;
          flex-shrink: 0;
          margin: 0 1vw 0 0;
          height: 20vh;
          width: 15vw;
          background-image: url(photos/poster_video.jpeg);
          background-size: cover;
          display: inline-block;
          box-shadow: 0 0 5px 0;
        }

        .group-6-C41 {
          flex-shrink: 0;
          height: 100%;
          position: relative;
          width: 65%;

          .rectangle-21-LR7 {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }

          .group-5-GZf {
            height: 100%;
            left: 0;
            position: relative;
            top: 0;
            width: 100%;

            .item--mmK {
              color: var(--color-share);
              font-family: var(--font-family);
              font-size: 1.5vw;
              font-weight: 500;
              left: 0;
              line-height: 1.2125;
              top: 0;
            }
          }
        }
      }

      .auto-group-yfm6-pWd {
        align-items: flex-start;
        display: flex;
        flex-shrink: 0;
        height: fit-content;
        width: 100%;
        margin: 0 0 3vh;

        .group-7-jdb {
          flex-shrink: 0;
          height: 100%;
          margin-right: 0;
          position: relative;
          width: 65%;

          .rectangle-21-F69 {
            height: 100%;
            left: 0;
            position: relative;
            top: 0;
            width: 100%;
          }

          .group-5-NRf {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

            .item--WGy {
              color: var(--color-share);
              font-family: var(--font-family);
              font-size: 1.5vw;
              font-weight: 500;
              height: 100%;
              left: 0;
              line-height: 1.2125;
              position: relative;
              top: 0;
              width: 100%;
            }
          }
        }

        .group-4-2Y9 {
          border-radius: 1rem;
          box-sizing: border-box;
          flex: 1;
          height: 20vh;
          width: 15vw;
          background-image: url(photos/poster_video.jpeg);
          background-size: cover;
          display: inline-block;
          box-shadow: 0 0 5px 0;
        }
      }
    }

    .auto-group-w1ec-GPs {
      flex: 1;
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 100%;
      width: 100%;

      .auto-group-8guj-oeh {
        flex-shrink: 0;
        height: 100%;
        margin: 0 0 0 0;
        position: relative;
        width: 100%;
        border-left: 2px solid var(--color-share);
        padding-left: 1vw;

        .item--Kd3 {
          color: var(--color-share);
          font-family: var(--font-family);
          font-size: 2vw;
          font-weight: 700;
          left: 0;
          line-height: 1.2125;
          position: relative;
          text-align: left;
          margin-bottom: 2vh;
          top: 0;
          white-space: nowrap;
        }
        
        .group-10-h7o {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          height: 15vh;
          left: 0;
          position: relative;
          top: 0;
          width: 90%;
          margin-bottom: 4vh;

          .audio-design {
            height: 100%;
            width: 100%;
            border-radius: 1rem;
            box-shadow:  0 0 3px 0 var(--color-white-shadow);
          }
          
          .item-28082023-kbs {
            color: var(--color-share);
            flex-shrink: 0;
            font-family: var(--font-family);
            font-size: 1.5vw;
            font-weight: 500;
            line-height: 1.2125;
            margin-right: 1.1rem;
            text-align: right;
            white-space: nowrap;
          }
        }
      }
    }
  }

/* Стили для модального окна */
.videoModalStyle {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

/* Стили для содержимого модального окна */
.modal-content {
    position: relative;
    padding: 10px;
    width: auto;
    height: 90%;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    background-color: #fefefe;
    vertical-align: middle;
}

/* Стили для кнопки закрытия */
.close {
  color: var(--color-background);
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 1%;
  right: 1%;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.close:hover,
.close:focus {
  color: var(--color-background) !important;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.2);
}

.play-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.play-button:hover {
  transform: scale(1.2);
}

.play-button svg {
  width: 50%;
  height: 50%;
}

.main-image {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}

.group-4-2Y9 .overlay, .group-3-Eb3 .overlay {
  opacity: 1;
}

/* Пример изменения высоты и ширины аудиоплеера Plyr */
#audio-style {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}

/* Изменение цвета фона плеера */
.plyr--audio {
  height: 100%;
  width: 100%;
}

.plyr--audio .plyr__controls {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.plyr__controls .plyr__controls__item:first-child {
  color: var(--color-plyr);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all ease-in-out 0.3s;
}

.plyr__controls .plyr__controls__item:first-child:hover {
  background-color: white;
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
  color: var(--color-share);
  background: var(--color-text);
}

.plyr__controls__item:first-child:hover {
  transform: scale(1.2);
  color: red;
}

.plyr__control svg {
  margin: auto;
}

.plyr--full-ui input[type=range] {
  color: red;
  cursor: pointer;
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]:before {
  background: black;
}

.plyr__control--overlaid {
  background: black;
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
  background: black;
  /*border-radius: 50%;*/
}

.plyr--video {
  margin: auto;
  height: 100%;
}
}

@media screen and (max-width: 1024px) {
  .suhbat-Zvq {
    height: fit-content;
    padding: 15px !important;

    .auto-group-7tcc-nob {

      .auto-group-4sal-buT {
        height: fit-content;
        width: 95vw;
        border-bottom: 2px solid black;
        border-right: none;
        padding-bottom: 1vh;
 
        .item--XHK {
          font-size: medium;
        }

        .auto-group-knx6-Kys {
          height: fit-content;
          width: 100%;

          .group-3-Eb3 {
            margin: 0 3vw 0 0;
            height: 20vh;
            width: 40vw;
          }

          .group-6-C41 {
            flex-shrink: 0;
            height: 100%;
            position: relative;
            width: 45vw;

            .group-5-GZf{

              .item--mmK {
                font-size: 2.5vw;
               }
            }
          }
        }

        .auto-group-yfm6-pWd {
          height: fit-content;
          width: 100%;
  
          .group-7-jdb {
            height: 100%;
            width: 50vw;
  
            .group-5-NRf {
              height: 100%;
              width: 100%;
  
              .item--WGy {
                font-size: 2.5vw;
              }
              
            }
          }
          .group-4-2Y9 {
            margin: 0vh 0vw 0vh 3vw;
            height: 20vh;
            width: 40vw;
          }
        }
      }   
      
      .auto-group-w1ec-GPs {
        height: fit-content;
        width: 100%;
  
        .auto-group-8guj-oeh {
          height: fit-content;
          margin: 2vh 0 0 0;
          width: 95vw;
          border-left: none;
          
  
          .item--Kd3 {
            font-size: medium;
          }
          
          .group-10-h7o {
            height: 10vh;
            width: 100%;
            margin-bottom: 3vh;
  
            .audio-design {
              height: 100%;
              width: 100%;
              border-radius: 1rem;
            }
            
            .item-28082023-kbs {
              font-size: small;
            }
          }
        }
      }
    }
  }
}


  
  
.maqala-nZq {
  background: var(--color-background-wh);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 5vh 5vw 5vh 5vw !important;
  position: relative;
  width: 100%;
  height: 100vh;

  .articles-svg {
        position: absolute;
        z-index: 1;
      }

  .item--Dj1 {
    color: var(--color-share);
    display: flex;
    flex-shrink: 0;
    font-family: var(--font-family);
    font-size: 3.5vw;
    font-weight: 900;
    line-height: 1.2125;
    margin-bottom: 4vh;
    text-align: right;
    text-decoration-line: none;
    justify-content: center;
    align-content: center;
    white-space: nowrap;
  }

  .auto-group-emw4-fb1 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 80vh;
    width: 100%;

    .group-17-oSK {
      border-radius: 2.5vw;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 100%;
      margin-right: 1.5vw;
      width: 60%;
      position: relative;
      box-shadow: 0 0 5px 0;

      .articles-content {
        padding: 2%;

        .auto-group-qxxa-UYT {
          position: relative;
          align-items: center;
          display: flex;
          margin-bottom: 2vh;
          width: 90%;
          height: fit-content;
          margin-right: auto;
          margin-left: auto;
          border-bottom: 2px solid var(--color-share);
          z-index: 2;

          .icons8-64-1-xTd {
            flex-shrink: 0;
            height: 10%;
            margin-right: 2vw;
            object-fit: cover;
            vertical-align: top;
            width: 7%;
          }

          .item--UB5 {
            color: var(--color-share);
            display: flex;
            flex-shrink: 0;
            font-family: var(--font-family);
            font-size: 3vw;
            font-weight: 900;
            line-height: 1.2125;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90%;
          }
        }

        .item--3tP {
          position: relative;
          color: var(--color-share);
          display: flex;
          font-family: var(--font-family);
          font-size: 1.2vw;
          font-weight: 500;
          line-height: 1.2125;
          max-width: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
          z-index: 2;
          margin-right: auto;
          margin-left: auto;
        }

        .auto-group-b52t-pGB {
          align-items: flex-start;
          display: flex;
          height: fit-content;
          width: 90%;
          bottom: 0;
          position: absolute;
          margin: 0 auto 2%;
          border-top: solid 0.1rem var(--color-share);

          .auto-group-lcyc-W91 {
            box-sizing: border-box;
            flex-shrink: 0;
            margin: 0;
            padding-top: 0.7rem;
            width: 50%;

            .item--oto {
              color: var(--color-share);
              display: flex;
              font-family: var(--font-family);
              font-size: 1.4vw;
              font-style: italic;
              font-weight: 500;
              line-height: 1.2125;
              max-width: 100%;
            }
          }

          .auto-group-py8g-nXm {
            flex-shrink: 0;
            height: 100%;
            position: relative;
            width: 50%;
            padding-top: 0.7rem;

            .icons8-50-1-fbZ {
              height: 5%;
              left: 0;
              object-fit: cover;
              position: relative;
              top: 0;
              vertical-align: top;
              width: 10%;
              margin-right: 2%;
              float: right;
              transition: all ease-in-out 0.3s;
            }

            .icons8-50-1-fbZ:hover {
              cursor: pointer;
              transform: scale(1.2);
            }
          }
        }
      }
    }
    .auto-group-fvnx-jLX {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      margin: 0;
      width: 40%;

      .group-18-SEw {
        border-radius: 1.5rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 50%;
        margin-bottom: 0;
        position: relative;
        width: 100%;
        box-shadow: 0 0 5px 0;

        .articles-content {
          padding: 2%;
          width: 100%;
          height: 90%;

          .auto-group-kqvv-8dZ {
            position: relative;
            align-items: center;
            display: flex;
            height: fit-content;
            left: 0;
            top: 0;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
            border-bottom: solid 0.1rem var(--color-share);
            z-index: 2;

            .icons8-64-2-4GK {
              flex-shrink: 0;
              height: 7%;
              margin-right: 2vw;
              object-fit: cover;
              vertical-align: top;
              width: 5%;
            }

            .item--Bbq {
              color: var(--color-share);
              display: flex;
              flex-shrink: 0;
              font-family: var(--font-family);
              font-size: 1.6vw;
              font-weight: 800;
              line-height: 1.2125;
              margin-top: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 90%;
            }
          }

          .item--zZH {
            position: relative;
            color: var(--color-share);
            display: flex;
            font-family: var(--font-family);
            font-size: 1.4vw;
            font-weight: 500;
            height: 80%;
            left: 0;
            line-height: 1.2125;
            top: 1vh;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            z-index: 2;
          }

          .line-8-kqH {
            border-top: solid 0.1rem var(--color-share);
            height: fit-content;
            position: absolute;
            width: 50%;
            float: right;
            margin-bottom: 2%;
            bottom: 0;
            right: 2%;
            padding-right: 5%;
            z-index: 3;
          }

          .icons8-50-2-4qy {
            height: 5%;
            left: 0;
            object-fit: cover;
            position: relative;
            margin-top: 0.5vh;
            vertical-align: top;
            width: 10%;
            float: right;
            transition: all ease-in-out 0.3s;
          }

          .icons8-50-2-4qy:hover {
            cursor: pointer;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .maqala-nZq {
  padding: 2vh 2vw 2vh 2vw !important;
  height: fit-content;

  .auto-group-emw4-fb1 {
    display: flex;
    flex-direction: column;
    height: fit-content;

    .group-17-oSK {
      height: 100%;
      width: 100%;
      margin: 10px;

      .articles-content {
        height: 35vh;
        padding: 2%;

        .auto-group-qxxa-UYT {
          margin-bottom: 1vh;

          .icons8-64-1-xTd {
            height: 10%;
            width: 5%;
          }

          .item--UB5 {
            font-size: 4vw;
          }
        }

        .item--3tP {
          font-size: 2vw;
        }

        .auto-group-b52t-pGB {
          margin: 0 auto 2%;

          .auto-group-lcyc-W91 {
            padding-top: 0.5rem;

            .item--oto {
              font-size: 2vw;
            }
          }

          .auto-group-py8g-nXm {
            padding-top: 0.5rem;

            .icons8-50-1-fbZ {
            }

            .icons8-50-1-fbZ:hover {
            }
          }
        }
      }
    }
    .auto-group-fvnx-jLX {
      height: fit-content;
      margin-top: 1vh;
      width: 100%;

      .group-18-SEw {
        border-radius: 2.5vw;
        height: 100%;
        margin-bottom: 1vh;

        .articles-content {
          padding: 2%;
          height: 35vh;

          .auto-group-kqvv-8dZ {

            .icons8-64-2-4GK {
              height: 10%;
            }

            .item--Bbq {
              font-size: 4vw;
            }
          }

          .item--zZH {
            font-size: 2vw;
          }

          .line-8-kqH {
          }

          .icons8-50-2-4qy {
          }

          .icons8-50-2-4qy:hover {
          }
        }
      }
    }
  }
  }
}

.intermediate-div {
  background-color: var(--color-background);
}

  
  