.photo-first-block {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(21, 16, 16, 0.5), rgba(0, 0, 0, 0.5)), url('photos/main.jpg');
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    flex-direction: column;
  
    .photo-first-block-text {
      position: relative;
  
      h1 {
        font-weight: bold;
        font-size: 5vw;
        color: white;
      }
    }
  
    .navigation-to-second-block {
      display: flex;
      bottom: 3vh;
      height: fit-content;
      position: absolute;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
  
      .text-in-nav {
        color: white;
        font-size: 1.5vw;
      }
  
      .next-button {
        border: 1px solid white;
        width: fit-content;
        text-decoration: none;
        color: white;
        padding: 5px;
        border-radius: 10px;
  
        .arrow {
          font-size: large;
        }
      }
  
      .next-button:hover {
        background-color: #FA944B;
        color: #0a0908;
        border-color: #0a0908;
      }
    }
  }
  
  @media screen and (max-width: 800px) {
    .photo-first-block {
    
      .photo-first-block-text {
    
        h1 {
          font-size: 12vw;
        }
      }
    
      .navigation-to-second-block {
        bottom: 6vh;
    
        .text-in-nav {
          font-size: 4vw;
        }
    
        .next-button {
          .arrow {
            font-size: large;
          }
        }
    
        .next-button:hover {
          background-color: #FA944B;
          color: #0a0908;
          border-color: #0a0908;
        }
      }
    }
  }
  
  
  /* Общие стили для фотогалереи */
  .photo-gallery {
      height: fit-content;
      background-color: #f2f4f3;
      padding: 5vh 5vw; /* Поля вокруг галереи */
      max-height: 200vh;
      height: fit-content;

      .photo-gallery-title {
        text-align: center;

        h1 {
          font-weight: bold;
        }
      }

      .photo-gallery-items {
        display: flex;
        flex-wrap: wrap; /* Позволяет изображениям переноситься на новую строку при нехватке места */
        justify-content: space-around; /* Равномерное распределение изображений по ширине галереи */
        align-items: center; /* Центрирование изображений по вертикали */
        height: 90%;
        max-height: 95%;
        overflow-y: scroll;

        .photo-gallery-item-elements {
          flex: 0 0 300px; /* Изменение ширины элементов в зависимости от размеров экрана */
            margin: 2vh 2vw 2vh 2vw; /* Пространство между изображениями */
            max-height: 50vh; /* Максимальная высота изображения */
            height: 50%;
           
            .photo-gallery-item {
              flex: 0 0 250px; /* Изменение ширины элементов в зависимости от размеров экрана */
              border: 1px solid black;
              max-height: 30vh; /* Максимальная высота изображения */
              overflow: hidden; /* Обрезание изображения, если оно выходит за границы контейнера */
              height: 100%;
              border-radius: 5%;  

              img {
                width: 100%; /* Изображение будет занимать всю доступную ширину контейнера */
               height: 100%; /* Автоматически рассчитанная высота, чтобы сохранить пропорции */
                object-fit: cover; /* Изображение будет заполнено внутри своего контейнера */
                object-position: 50% 50%; /* Центрирование изображения в контейнере */
            }
          }

          .photo-title {
            font-weight: bold;
            font-size: 20px;
          }
          
          .photo-date {
            font-style: italic;
            font-size: 15px;
            float: right;
          }
        }
    }

    .photo-gallery-items::-webkit-scrollbar {
      background-color: #f2f4f3;
      border: 1px solid black;
      border-radius: 3px;
      width: 6px;
    }
    
    .photo-gallery-items::-webkit-scrollbar-thumb {
      background-color: #0a0908;
      border-radius: 3px;
    }
    
      
  }

