:root {
    --color-background: #E3941E; /* Цвет фона */
    --color-background-wh: #FAE6F5; /* Цвет фона */
    --color-text: #FFFFFF; /* Цвет текста */
    --color-play:#FFC464;
    --color-share:black;
    --color-sm:#f2f4f3;
}
