{% load static %}
<link rel="stylesheet" href="{% static 'website/footer.css' %}">
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Сайт беттері</h4>
            <ul class="list-unstyled">
              <li><a href="#"></a></li>
              <li><a href="#">Фото суреттер</a></li>
              <li><a href="#">Сұхбаттар</a></li>
              <li><a href="#">Мақалалар</a></li>
              <li><a href="#">Сауалнамалар</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Бөлімдер</h4>
            <ul class="list-unstyled">
              <li><a href="#">Фото сурет</a></li>
              <li><a href="#">Сұхбат</a></li>
              <li><a href="#">Мақала</a></li>
              <li><a href="#">Сауалнама Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4>Сілтемелер</h4>
            <ul class="list-unstyled">
              <li><a href="#">Сілтеме 1</a></li>
              <li><a href="#">Сілтеме 2</a></li>
              <li><a href="#">Сілтеме 3</a></li>
              <li><a href="#">Сілтеме 4</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Біз туралы</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#" class="icoTelegram" title="Telegram"><i class="fa fa-telegram"></i></a></li>
              </ul>				
      </div>
      </div>
    <div class="row">
      <div class="col-md-12 copy">
        <p class="text-center">&copy; Copyright 2024 - QANDASTAR.  Барлық құқықтар қорғалған.</p>
      </div>
    </div>
    </div>
    </div>
  </footer>