{% load static %}
<link rel="stylesheet" href="{% static 'website/footer.css' %}">
<link rel="stylesheet" href="{% static 'website/styles.css' %}">
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
        <div class="col-md-3">
            <h4 class="title name">Біз туралы</h4>
            <ul class="social-network social-circle">
                <li>
                    <a href="#" class="icoFacebook" title="Facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <span>Facebook</span>
                </li>
                <li>
                    <a href="#" class="icoInstagram" title="Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <span>Instagram</span>
                </li>
                <li>
                    <a href="#" class="icoTelegram" title="Telegram">
                        <i class="fa fa-telegram"></i>
                    </a>
                    <span>Telegram</span>
                </li>
            </ul>
        </div>


{#          <div class="footer-pad">#}
{#            <h4>Сайт беттері</h4>#}
{#            <ul class="list-unstyled">#}
{#              <li><a href="main.html" title="Басты бет">Басты бет</a></li>#}
{#              <li><a href="photos.html" title="Фото суреттер">Фото суреттер</a></li>#}
{#              <li><a href="suhbat.html" title="Сұхбаттар">Сұхбаттар</a></li>#}
{#              <li><a href="article.html" title="Мақалалар">Мақалалар</a></li>#}
{#              <!--<li><a href="#">Сауалнамалар</a></li>-->#}
{#            </ul>#}
{#          </div>#}
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4 class="title">Бөлімдер</h4>
            <ul class="list-unstyled">
              <li><a href="main.html#news-section" class="lilist">Жаңалықтар</a></li>
              <li><a href="main.html#photo-E4h" class="lilist">Фото сурет</a></li>
              <li><a href="main.html#suhbat-Zvq" class="lilist">Сұхбат</a></li>
              <li><a href="main.html#maqala-nZq" class="lilist">Мақала</a></li>
              <!--<li><a href="#">Сауалнама</a></li>-->
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <!--Column1-->
          <div class="footer-pad">
            <h4 class="title">Сілтемелер</h4>
            <ul class="list-unstyled">
              <li><a href="#">Сілтеме 1</a></li>
              <li><a href="#">Сілтеме 2</a></li>
              <li><a href="#">Сілтеме 3</a></li>
              <li><a href="#">Сілтеме 4</a></li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
              
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12 copy">
        <p class="text-center">&copy; Copyright 2024 - QANDASTAR.  Барлық құқықтар қорғалған.</p>
      </div>
    </div>
    </div>
    </div>
     <div class="img"></div>
  </footer>